In [1]:
from io import BytesIO
import requests
req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

In [2]:
import pandas as pd
df = pd.read_csv(BytesIO(data))
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [3]:
suma=df['users'].sum()
suma

288

In [5]:
df['users']/suma*100
df

         date         gender      users
0  2020-06-14  Not specified  52.083333
1  2020-06-14           male  40.625000
2  2020-06-14         female   7.291667

In [36]:
df_1 = pd.read_csv(r'F:\Lessons\lesson7\browser.csv', sep=',')
df_1.head(2)

         date        browser user_type  users
0  2020-06-14  Google Chrome    People    139
1  2020-06-14  Chrome Mobile    People     35

In [31]:
import numpy as np 
robots=np.where(df_1.browser.str.contains('Chrome') & df_1.user_type.str.contains('Robots'), 1, 0)
chrome_robots=pd.Series(robots, name='is_robot')
chrome_robots

In [ ]:
not_nan_count=df.click_type.notna().sum()