In [1]:
import pandas as pd

In [2]:
df_1=pd.read_csv(r'F:\Lessons\Math\lesson_5\\task1.csv', sep=',')

In [3]:
df_2=pd.read_csv(r'F:\Lessons\Math\lesson_5\\task2.csv', sep=',')

In [7]:
df_2

          id    group segment  events
0      83440     test    high    78.0
1      96723     test    high    71.0
2      68719     test    high    80.0
3      50399     test    high    80.0
4      95613     test    high    78.0
...      ...      ...     ...     ...
99995  60695  control     low    15.0
99996   5934  control     low    16.0
99997  30046  control     low    22.0
99998  26474  control     low    21.0
99999  42649  control     low    23.0

[100000 rows x 4 columns]

In [8]:
df_1

          id group  events
0      16046     A      14
1      18712     A      41
2       3268     A      30
3      22633     A      37
4      28071     A      38
...      ...   ...     ...
29995  22932     C      38
29996  21787     C      25
29997   5054     C      34
29998  10254     C      27
29999   5692     C      49

[30000 rows x 3 columns]

In [4]:
from scipy import stats
import numpy as np

In [6]:
stats.levene(df_1[df_1['group'] == 'A']['events'],\
df_1[df_1['group'] == 'B']['events'],\
df_1[df_1['group'] == 'C']['events'])

LeveneResult(statistic=2.2622596339318037, pvalue=0.1041327199523974)

In [10]:
import pingouin as pg
pg.homoscedasticity(df_2, dv="events", group="group")

               W      pval  equal_var
levene  2.544005  0.110717       True

In [1]:
pip install pingouin

Collecting pingouin
  Using cached pingouin-0.5.0-py3-none-any.whl
Requirement already satisfied: pandas>=1.0 in f:\anaconda\lib\site-packages (from pingouin) (1.2.4)
Collecting tabulate
  Using cached tabulate-0.8.9-py3-none-any.whl (25 kB)
Collecting outdated
  Using cached outdated-0.2.1-py3-none-any.whl (7.5 kB)
Requirement already satisfied: scikit-learn in f:\anaconda\lib\site-packages (from pingouin) (0.24.1)
Requirement already satisfied: numpy>=1.19 in f:\anaconda\lib\site-packages (from pingouin) (1.20.1)
Requirement already satisfied: seaborn>=0.9.0 in f:\anaconda\lib\site-packages (from pingouin) (0.11.1)
Requirement already satisfied: statsmodels>=0.12.0 in f:\anaconda\lib\site-packages (from pingouin) (0.12.2)
Requirement already satisfied: matplotlib>=3.0.2 in f:\anaconda\lib\site-packages (from pingouin) (3.3.4)
Requirement already satisfied: scipy>=1.7 in f:\anaconda\lib\site-packages (from pingouin) (1.7.3)
Collecting pandas-flavor>=0.2.0
  Using cached pandas_flavor-0.2.0-py2.py3-none-any.whl (6.6 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in f:\anaconda\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in f:\anaconda\lib\site-packages (from matplotlib>=3.0.2->pingouin) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in f:\anaconda\lib\site-packages (from matplotlib>=3.0.2->pingouin) (8.2.0)
Requirement already satisfied: cycler>=0.10 in f:\anaconda\lib\site-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in f:\anaconda\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.8.1)
Requirement already satisfied: six in f:\anaconda\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in f:\anaconda\lib\site-packages (from pandas>=1.0->pingouin) (2021.1)
Requirement already satisfied: xarray in f:\anaconda\lib\site-packages (from pandas-flavor>=0.2.0->pingouin) (0.20.2)
Requirement already satisfied: patsy>=0.5 in f:\anaconda\lib\site-packages (from statsmodels>=0.12.0->pingouin) (0.5.1)
Requirement already satisfied: requests in f:\anaconda\lib\site-packages (from outdated->pingouin) (2.25.1)
Collecting littleutils
  Using cached littleutils-0.2.2-py3-none-any.whl
Requirement already satisfied: chardet<5,>=3.0.2 in f:\anaconda\lib\site-packages (from requests->outdated->pingouin) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in f:\anaconda\lib\site-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in f:\anaconda\lib\site-packages (from requests->outdated->pingouin) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in f:\anaconda\lib\site-packages (from requests->outdated->pingouin) (2020.12.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in f:\anaconda\lib\site-packages (from scikit-learn->pingouin) (2.1.0)
Requirement already satisfied: joblib>=0.11 in f:\anaconda\lib\site-packages (from scikit-learn->pingouin) (1.0.1)
Installing collected packages: littleutils, tabulate, pandas-flavor, outdated, pingouin
Successfully installed littleutils-0.2.2 outdated-0.2.1 pandas-flavor-0.2.0 pingouin-0.5.0 tabulate-0.8.9
Note: you may need to restart the kernel to use updated packages.

In [6]:
stats.shapiro(df_1[df_1['group'] == 'A']['events'])

F:\Anaconda\lib\site-packages\scipy\stats\morestats.py:1760: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

ShapiroResult(statistic=0.9989418387413025, pvalue=4.318870651331963e-06)

In [8]:
stats.shapiro(df_1[df_1['group'] == 'B']['events'])

ShapiroResult(statistic=0.9990161061286926, pvalue=1.0504894817131571e-05)

In [9]:
stats.shapiro(df_1[df_1['group'] == 'C']['events'])

ShapiroResult(statistic=0.9989210963249207, pvalue=3.3885160064528463e-06)

In [11]:
stats.f_oneway(df_1[df_1['group'] == 'A']['events'],\
df_1[df_1['group'] == 'B']['events'],\
df_1[df_1['group'] == 'C']['events'])

F_onewayResult(statistic=2886.166657438961, pvalue=0.0)

In [12]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.formula.api import ols
from statsmodels.base.model import Model

In [13]:
pairwise_tukeyhsd(endog=df_1['events'], groups=df_1['group'], alpha=0.05).summary()

In [23]:

import statsmodels.formula.api as smf
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [27]:
from statsmodels.stats.anova import anova_lm

In [28]:
res=smf.ols(formula="events ~ segment +group+segment:group", data=df_2).fit()
tmp=anova_lm(res, typ=2)
print(tmp)

                     sum_sq       df              F         PR(>F)
segment        2.362480e+07      1.0  689756.377485   0.000000e+00
group          3.837195e+06      1.0  112031.864119   0.000000e+00
segment:group  3.664244e+04      1.0    1069.823273  2.060261e-233
Residual       3.424956e+06  99996.0            NaN            NaN

In [31]:
pairwise_tukeyhsd(endog=df_2['events'], groups=tmp2, alpha=0.05).summary()

In [30]:
tmp2=df_2['group'] + '\\' + df_2['segment']